.BattleField {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
  height: 400px;
}

.BattleField .CPUCard {
  align-self: flex-start;
}

.BattleField .PlayerCard {
  align-self: flex-end;
}
