.BattleField{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100vw;
  height: 400px;
}

.BattleField .CPUCard {
  align-self: flex-start;

}

.BattleField .PlayerCard {
  align-self: flex-end;
}