.Card {
  border: 0.5px solid black;
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 200px;
  height: 270px;
  background-color: rgb(255, 255, 255);
  margin: 3px;
}

.Card .card_image {
  width: 190px;
  height: 150px;
  margin: 0 5px;
}

.Card h3 {
  font-size: 1em;
  font-weight: bold;
  padding: 3px;
  text-align: center;
  height: 30px;
  color: rgb(221, 122, 30);
}

.Card {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.Card:hover {
  cursor: pointer;
  z-index: 1;
  -webkit-transform: translate(0px, -10px);
  transform: scale(1.05);
}

.Card table {
  margin: 5px;
  background-color: rgb(221, 122, 30);
  border-radius: 0 0 10px 10px;
}
table {
  text-align: center;
  border-collapse: collapse;
}

.Card table thead {
  font-weight: bold;
}
