@media only screen and (min-width: 1140px) {
  .Card {
    border: 0.5px solid black;
    box-shadow: 2px 2px 10px black;;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 200px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    margin: 3px;
  }
}

@media only screen and (max-width: 1140px) {
  .Card {
    border: 0.5px solid black;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 150px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    margin: 3px;
  }
}

.Card .card_image {
  width: 190px;
  height: 150px;
  margin: 0 5px;
}

@media only screen and (max-width: 1140px) {
  .Card .card_image {
    width: 140px;
    height: 100px;
    margin: 0 5px;
  }
}

.Card h3 {
  font-size: 1em;
  font-weight: bold;
  padding: 3px;
  text-align: center;
  height: 30px;
  color: rgb(221, 122, 30);
}

.Card {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.Card:hover {
  cursor: pointer;
  z-index: 1;
  -webkit-transform: translate(0px, -10px);
  transform: scale(1.05);
}

.Card table {
  margin: 6px;
  background-color: rgb(221, 122, 30);
  border-radius: 0 0 10px 10px;
  text-align: center;
  border-collapse: collapse;
}

.Card table thead {
  font-weight: bold;
}

.Card table thead td{
  
 
}

.Card table td {
  padding: 0 5px 2px 5px;
}

@media only screen and (max-width: 1140px) {
  .Card table td {
    font-size: 12px;
  }
}

.Card table tbody {
  text-align: left;
}
