@media only screen and (min-width: 700px) {
  .Hand {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .Hand {
    margin-top: 30px;
    display: flex;
    
    align-items: center;
    overflow: auto;
    height: 280px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
