@font-face{
    font-family: 'Halloween Too';
    src:url('./font/Halloween Too.ttf')
}

.Modal .modal h1 {
    font-family: 'Halloween Too';
    font-size: 400%;
    color : red;
}

.Modal button{
    background-color: rgb(221, 122, 30);
    border: none;
    border-radius: 20px;
    padding: 2%;
    justify-content: center;
}

.Modal{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    animation: fadein 0.4s;
}

.Modal img{
    height: 200px;
}

.Modal .modal{
    /* background: url('./images/pumpkin-2892303_640.jpg') center;  */
    background-color: black;
    height: 400px;
    width: 450px;
    /* background-color: white; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}