.ProgressBar{
    display: flex;
    justify-content: space-around;
}

.ProgressCPU{
    width: 400px;
    height: 10px;
}

.ProgressPlayer{
    width: 400px;
    height: 10px;
    /* margin-left:10%;  */
    unicode-bidi:bidi-override;
    direction:rtl;
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
}