@font-face {
  font-family: "PearSoda";
  src: url("./font/PearSoda.ttf");
}

.fontPoint,
.fontPointCPU {
  font-family: "PearSoda";
  font-size: 30px;
  color: #6d289e;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 1024px) {
  .ProgressBar {
    display: flex;
    justify-content: space-around;
  }
  .ProgressCPU {
    width: 400px;
    height: 10px;
  }

  .ProgressPlayer {
    width: 400px;
    height: 10px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
  }
  .avatar {
    width: 60px;
    height: 60px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
  }
}

@media only screen and (max-width: 1024px) {
  .ProgressBar {
    padding-top:20px;
    display: flex;
    justify-content: space-between;
  }
  .ProgressCPU {
    width: 30vw;
    height: 10px;
  }

  .ProgressPlayer {
    width: 30vw;
    height: 10px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
  }
  .avatar {
    width: 60px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
  }
}
@media only screen and (max-width: 425px) {
  .ProgressBar {
    display: flex;
    justify-content: space-around;
  }
  .ProgressCPU {
    width: 50px;
    height: 10px;
  }

  .ProgressPlayer {
    width: 50px;
    height: 10px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
  }
  .avatar {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
  }
  .playerCPU p {
    font-size: 2.5vw;
  }
  .playerInfo p {
    font-size: 2.5vw;
  }
}

.playerInfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.playerCPU {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
