@font-face {
  font-family: "PearSoda";
  src: url("./font/PearSoda.ttf");
}

.Rules {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  animation: fadein 0.4s;
  z-index: 1;
}

.Rules .rules {
  background-color: black;
  height: 700px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.rulesContainer {
  position: relative;
  height: 650px;
  max-width: 650px;
  text-align: justify;
  justify-content: left;
}

.rulesContainer p .sugar {
  float: left;
  top: 30px;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.rulesContainer h1 {
  color: antiquewhite;
  font-family: PearSoda;
  margin: 50px;
}

.button {
  font-family: PearSoda;
}

.rulesContainer p {
  font-size: 1.5em;
  color: antiquewhite;
  padding: 10px;
}

.rulesContainer .sword,
.shield {
  float: left;
  height: 40px;
  width: 40px;
 
  margin: 10px;
  background-color: antiquewhite;
}

.rulesContainer button {
  position: absolute;
  bottom: 0;
  background-color: rgb(221, 122, 30);
  box-shadow: 2px 2px 10px black;
  border: none;
  border-radius: 20px;
  width: 60px;
  height: auto;
  padding: 5px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) and (min-width: 300px) {

  .Rules .rules {
    background-color: black;
    height: auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }


.rulesContainer p .sugar {
  float: left;
  top: 30px;
  height: 40px;
  width: 40px;
  margin: 20px;
}


  .rulesContainer {
    position: relative;
    height: 400px;
    max-width: 70%;
    text-align: justify;
    justify-content: left;
    overflow-y: auto;
  }

  .rulesContainer
  p {
    font-size: 1em;
  }
  .rulesContainer
  .button {
    position: relative;
    top: 0;
    background-color: rgb(221, 122, 30);
    box-shadow: 2px 2px 10px black;
    border: none;
    border-radius: 20px;
    width: 60px;
    height: auto;
    padding: 5px;
  }

  .rulesContainer h1,
  p {
    margin: 10px;
  }

  .rulesContainer .sword,
.shield {
  float: left;
  height: 20px;
  width: 20px;
  padding: 10px;
  margin: 10px;
  background-color: antiquewhite;
}


}
