@font-face{
  font-family: 'Halloween Too';
  src:url('./font/Halloween Too.ttf')
}

.Settings .sugarWar{
  font-family: 'Halloween Too';
  font-size: 100px;
  color: #c61a1a;
}

.Settings .avatarMS{
  margin-top: 1%;
  height: 100px;
}

.Settings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Settings form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(190, 190, 190);
  width: 480px;
  height: 400px;
}

.Settings .pointsFieldset{
  display: flex;
  flex-flow: column nowrap;
  margin: 5px;
}

.Settings fieldset {
  border: none;
  margin: 5px;
  
}

.Settings input{
  width: 100%;
  margin: 10px 0;
}

.Settings .avatarsList{
  width: 450px;
  height: 120px;
}

.Settings .avatarsList img{
  width: 60px;
}

.Settings .avatarsList img:hover{
  border: 1px solid black;
  border-radius: 10px;
}

.Settings .avatarsList .selected{
  border: 1px solid red;
  border-radius: 10px;
}

.Settings button{
  border: none;
  background-color:rgb(221, 122, 30);
  padding: 15px 0;
  margin: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

@media screen and (max-height: 840px){
  .Settings .sugarWar{
    font-size: 60px;
  }
  .Settings .avatarsList{
    height: 60px;
  }
  .Settings button{
    padding: 6vw 0;
  }
}

@media screen and (max-width: 525px){
  .Settings .sugarWar{
    font-size: 60px;
  }

  .Settings form{
    width: 90vw;
    height: 70vh;
  }

  .Settings .avatarsList{
    width: 90vw;
    height: 120px;
  }
}