@font-face{
  font-family: 'Halloween Too';
  src:url('./font/Halloween Too.ttf')
}

.Settings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Settings .avatarMS{
  margin-top: 2%;
  height: 100px;
}

.Settings .sugarWar{
  font-family: 'Halloween Too';
  font-size: 100px;
  color: #c61a1a;
}

.Settings form{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(190, 190, 190);
  width: 480px;
  height: 400px;
}

.Settings .pointsFieldset{
  margin-top: 5px;
}

.Settings fieldset {
  border: none;
}

.Settings input{
  width: 100%;
  margin: 10px 0;
}

.Settings .avatarsList img{
  width: 60px;
}

.Settings .avatarsList img:hover{
  border: 1px solid black;
  border-radius: 10px;
}

/* .Settings .avatarsList .selected{
  border: 1px solid red;
  border-radius: 10px;
} */

.Settings button{
  border: none;
  background-color:rgb(221, 122, 30);
  margin: 15px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 10px;
}

@media screen and (max-height: 800px){
  .Settings .sugarWar{
    font-size: 12vh;
  }
  .Settings .avatarMS{
    margin-top: 1%;
    height: 12vh;
  }
  .Settings button{
    padding: 0;
  }
}

@media screen and (max-width: 525px){
  .Settings .avatarMS{
    margin-top: 1%;
    height: 80px;
  }

  .Settings .sugarWar{
    font-size: 60px;
  }

  .Settings form{
    width: 85vw;
  }
}

@media screen and (max-width: 360px){
  .Settings .sugarWar{
    font-size: 45px;
  }
  .Settings label {
    font-size: 4vw;
  }
  .Settings .avatarsList img{
    width: 45px;
  }
}